* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff8cd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  word-spacing: 0.5px;
  font-size: 21px;
  color: #000;

  @media (max-width: $small) {
    font-size: 21px;
  }
}

// =========================
// headers

h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 3px 3px #000;
}

.section-header {
  font-size: 30px;
  font-weight: 600;
  text-align: center;

  @include word-breaking;

  &__hr {
    width: 28%;
    margin: auto;
  }
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 1.5px 1.5px #000;
}

h5 {
  font-size: 25px;
  margin: 20px 0 13px 0;
  font-weight: 700;
}

// =========================
// paragraphs & links & selection

p {
  margin: 18px 0;

  @include word-breaking;
}

// links

a {
  font-weight: 600;

  &:link {
    // color: #FF751F;
    color: #C500F5;
    color: #E0460C;
    text-decoration: none;
  }

  &:visited {
    color: #ff5202;
    // text-decoration: underline;
  }

  &:active {
    background-color: #ff6a0e;
    color: #FFF;
  }

  &:hover {
    text-decoration: underline;
  }

  // bold links
  & b {
    color: #FFF;
    text-decoration: underline;
  }

  &:visited b {
    color: #e4e4e4;
    text-decoration: underline;
  }

  &:hover b {
    color: #ccc;
    text-decoration: underline;
  }

  &:active b {
    background-color: #ff6a0e;
    color: #FFF;
  }
}

// selection - webkit & moz

::-webkit-selection,
b::-webkit-selection {
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(255, 248, 210, 0.99);
}

h2::-webkit-selection,
a b::-webkit-selection,
a i::-webkit-selection,
a::-webkit-selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: rgba(5, 176, 255, 0.99);
}

::-moz-selection,
b::-moz-selection {
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(255, 248, 210, 0.99);
}

h2::-moz-selection,
a b::-moz-selection,
a i::-moz-selection,
a::-moz-selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: rgba(5, 176, 255, 0.99);
}

// selection - general

::selection,
b::selection {
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(255, 248, 210, 0.99);
}

h2::selection,
a b::selection,
a i::selection,
a::selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: rgba(5, 176, 255, 0.99);
}


// =========================
// other            

b {
  font-weight: 700;
}

hr {
  color: #000;
  margin: 4px 0 12px 0;
}

.fLeft {
  float: left;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// main-content-wrapper - width & media queries

.section__inner {
  margin: 0 auto;
  width: 50%;

  @media (max-width: $extra-large) {
    width: 55%;
  }

  @media (max-width: $large) {
    width: 60%;
  }

  @media (max-width: $medium) {
    width: 65%;
  }

  @media (max-width: $small) {
    width: 75%;
  }

  @media (max-width: $extra-small) {
    width: 93%;
  }
}

// custom scrollbar (Firefox and IE not supported)
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #f2f7f8;
}

::-webkit-scrollbar {
  width: 10px;
  background: #AAA;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// --------------------------  
// --------------------------  
// logo

.logo {
  // flex container
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: #ffe05d;
  background-color: #ff9642;
  // background-color: #e8e8e8;
  padding: 8px 0;
  border-bottom: solid #000 1px;

  // preventing bug
  font-size: 0px;

  &__image {
    width: 53px;
    margin-right: 15px;
    transition: transform .3s ease-in-out;

    @media (max-width: $medium) {
      transition: none;
    }

    &:hover {
      transform: rotate(360deg);

      @media (max-width: $medium) {
        transition: none;
      }
    }
  }

  &__text {
    font-size: 48px;
    color: white;
    text-shadow: 1px 1px 4px black;
    letter-spacing: 3px;
    // text-shadow: #FC0 1px 0 10px;
    // text-shadow: 1px 1px 2px red, 0 0 0.05em yellow, 0 0 0.05em yellow;
    // text-shadow: 1px 1px 2px black, 0 0 0.04em yellow, 0 0 0.04em yellow;
  }

  &__a {

    &--title {
      color: #FFF !important;
      text-decoration: none !important;
      transition: color 0.15s ease-in-out !important;

      &:hover {
        color: #E6AB45 !important;
        text-decoration: none !important;
      }
    }

    &--image {
      &:hover {
        &+.logo__a--title {
          color: #E6AB45 !important;
          text-decoration: none !important;
        }
      }
    }
  }
}

// --------------------------
// --------------------------
// footer

.footer {
  // grid container
  display: grid;
  grid-template: auto / auto auto auto auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  font-family: 'Sriracha', cursive;
  font-weight: 400;
  color: white;

  background-color: #454B4F;
  padding: 10px;

  @media (max-width: $medium + 105px) {
    grid-template: auto auto / auto auto;
  }

  @media (max-width: $small) {
    grid-template: auto auto auto auto / auto;
  }

  &__intro {
    font-size: 20px;

    @media (min-width: $small) {
      padding-right: 20px;
    }
  }

  &__author {
    // flex container
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;

    @media (min-width: $medium) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__author-name {
    font-size: 22px;
    letter-spacing: 1px;
    padding-right: 2px;
  }
}