.section {
  padding: 15px 0 90px 0;

  background: rgb(255, 248, 205);
  background: linear-gradient(180deg, rgba(255, 248, 205, 1) 0%, rgba(255, 248, 205, 1) 80%, rgba(255, 236, 125, 1) 100%);

  &:first-child {
    padding: 55px 0 90px 0;
  }

  &--odd {
    padding: 10px 0 90px 0;

    background: rgb(255, 236, 125);
    background: linear-gradient(180deg, rgba(255, 236, 125, 1) 0%, rgba(255, 236, 125, 1) 80%, rgba(255, 248, 205, 1) 100%);
  }

  &:last-child {
    background: #fff8cd;
  }
}

.regluar-text {
  float: left;
}

.regular-text a b {
  font-size: 24px;
  text-shadow: 1px 1px #000;
  padding-right: 8px;
}

.list {
  margin-top: 26px;
  text-align: center;

  &__item {
    font-size: 21px;
    list-style: none;

    &:not(:last-child) {
      padding-bottom: 17px;
    }

    &--motive {
      font-weight: 600;
    }

    &--book {
      font-weight: 500;
    }

    @media (max-width: $extra-small) {
      font-size: 19px;
    }
  }

  &__motive-link {
    font-weight: 500;
  }

  &__philosophy-term {
    font-weight: 600;
  }
}