* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff8cd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  word-spacing: 0.5px;
  font-size: 21px;
  color: #000;
}

@media (max-width: 600px) {
  body {
    font-size: 20px;
  }
}

h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 3px 3px #000;
}

@media (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
}

.section-header {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.section-header__hr {
  width: 28%;
  margin: auto;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 1.5px 1.5px #000;
}

h5 {
  font-size: 25px;
  margin: 20px 0 13px 0;
  font-weight: 700;
}

p {
  margin: 18px 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 450px) {
  p {
    font-size: 20px;
  }
}

a {
  font-weight: 600;
}

a:link {
  color: #C500F5;
  color: #E0460C;
  text-decoration: none;
}

a:visited {
  color: #ff5202;
}

a:active {
  background-color: #ff6a0e;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

a b {
  color: #FFF;
  text-decoration: underline;
}

a:visited b {
  color: #e4e4e4;
  text-decoration: underline;
}

a:hover b {
  color: #ccc;
  text-decoration: underline;
}

a:active b {
  background-color: #ff6a0e;
  color: #FFF;
}

::-webkit-selection,
b::-webkit-selection {
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(255, 248, 210, 0.99);
}

h2::-webkit-selection,
a b::-webkit-selection,
a i::-webkit-selection,
a::-webkit-selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: rgba(5, 176, 255, 0.99);
}

::-moz-selection,
b::-moz-selection {
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(255, 248, 210, 0.99);
}

h2::-moz-selection,
a b::-moz-selection,
a i::-moz-selection,
a::-moz-selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: rgba(5, 176, 255, 0.99);
}

::-moz-selection,
b::-moz-selection {
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(255, 248, 210, 0.99);
}

::selection,
b::selection {
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(255, 248, 210, 0.99);
}

h2::-moz-selection,
a b::-moz-selection,
a i::-moz-selection,
a::-moz-selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: rgba(5, 176, 255, 0.99);
}

h2::selection,
a b::selection,
a i::selection,
a::selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: rgba(5, 176, 255, 0.99);
}

b {
  font-weight: 700;
}

hr {
  color: #000;
  margin: 4px 0 12px 0;
}

.fLeft {
  float: left;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section__inner {
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 1450px) {
  .section__inner {
    width: 55%;
  }
}

@media (max-width: 1200px) {
  .section__inner {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .section__inner {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .section__inner {
    width: 75%;
  }
}

@media (max-width: 450px) {
  .section__inner {
    width: 93%;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #f2f7f8;
}

::-webkit-scrollbar {
  width: 10px;
  background: #AAA;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #ffe05d;
  background-color: #ff9642;
  padding: 8px 0;
  border-bottom: solid #000 1px;
  font-size: 0px;
}

.logo__image {
  width: 53px;
  margin-right: 15px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

@media (max-width: 900px) {
  .logo__image {
    -webkit-transition: none;
    transition: none;
  }
}

.logo__image:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (max-width: 900px) {
  .logo__image:hover {
    -webkit-transition: none;
    transition: none;
  }
}

.logo__text {
  font-size: 48px;
  color: white;
  text-shadow: 1px 1px 4px black;
  letter-spacing: 3px;
}

@media (max-width: 450px) {
  .logo__text {
    font-size: 38px;
  }
}

.logo__a--title {
  color: #FFF !important;
  text-decoration: none !important;
  -webkit-transition: color 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out !important;
}

.logo__a--title:hover {
  color: #E6AB45 !important;
  text-decoration: none !important;
}

.logo__a--image:hover + .logo__a--title {
  color: #E6AB45 !important;
  text-decoration: none !important;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: auto auto auto auto;
      grid-template: auto / auto auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Sriracha', cursive;
  font-weight: 400;
  color: white;
  background-color: #454B4F;
  padding: 10px;
}

@media (max-width: 1005px) {
  .footer {
    -ms-grid-rows: auto auto;
    -ms-grid-columns: auto auto;
        grid-template: auto auto / auto auto;
  }
}

@media (max-width: 600px) {
  .footer {
    -ms-grid-rows: auto auto auto auto;
    -ms-grid-columns: auto;
        grid-template: auto auto auto auto / auto;
  }
}

.footer__intro {
  font-size: 20px;
}

@media (min-width: 600px) {
  .footer__intro {
    padding-right: 20px;
  }
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .footer__author:not(:last-child) {
    margin-right: 20px;
  }
}

.footer__author-name {
  font-size: 22px;
  letter-spacing: 1px;
  padding-right: 2px;
}

.section {
  padding: 15px 0 90px 0;
  background: #fff8cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff8cd), color-stop(80%, #fff8cd), to(#ffec7d));
  background: linear-gradient(180deg, #fff8cd 0%, #fff8cd 80%, #ffec7d 100%);
}

.section:first-child {
  padding: 55px 0 90px 0;
}

.section--odd {
  padding: 10px 0 90px 0;
  background: #ffec7d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffec7d), color-stop(80%, #ffec7d), to(#fff8cd));
  background: linear-gradient(180deg, #ffec7d 0%, #ffec7d 80%, #fff8cd 100%);
}

.section:last-child {
  background: #fff8cd;
}

.regluar-text {
  float: left;
}

.regular-text a b {
  font-size: 24px;
  text-shadow: 1px 1px #000;
  padding-right: 8px;
}

.shakespeare {
  padding-right: 25px;
  padding-bottom: 15px;
}

.shakespeare__image {
  height: 475px;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .shakespeare__image {
    height: 400px;
  }
}

@media (max-width: 900px) {
  .shakespeare__image {
    height: 350px;
  }
}

@media (max-width: 600px) {
  .shakespeare__image {
    height: 325px;
  }
}

@media (max-width: 500px) {
  .shakespeare__image {
    width: 100%;
    height: 100%;
  }
}

.theatre {
  padding: 30px 45px 20px 0;
}

.theatre__image {
  height: 350px;
}

@media (max-width: 1200px) {
  .theatre__image {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .theatre__image {
    height: 250px;
  }
}

@media (max-width: 600px) {
  .theatre__image {
    height: 215px;
  }
}

@media (max-width: 500px) {
  .theatre__image {
    width: 100%;
    height: 100%;
  }
}

.list {
  margin-top: 26px;
  text-align: center;
}

.list__item {
  font-size: 21px;
  list-style: none;
}

.list__item:not(:last-child) {
  padding-bottom: 17px;
}

.list__item--motive {
  font-weight: 600;
}

.list__item--book {
  font-weight: 500;
}

.list__motive-link {
  font-weight: 500;
}

.list__philosophy-term {
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */